:root {
    --background-color1: #4e5166;
    --background-color2: #6c7d47;
    --accent1: #e5f2c9;
    --accent2: #faa916;
    --heading-font: "Protest Revolution", serif;
    --font: "Open Sans", serif;
    --text-decoration: none;
}

*{
    text-decoration: none;
}

header {
	margin: 1rem 50px;
	display: grid;
	grid-template-columns: 1fr 2fr;
	align-items: center;
	border-bottom: 1px solid var(--background-color1);
}

.logo img {
	width: 200px;
	height: auto;
    border: 5px solid var(--background-color1);
    padding: 2px;
    background-color: var(--background-color2);
    color: var(--accent1);
}

nav {
	text-align: right;
}

.navigation {
	display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
	list-style: none;
}

.navigation a {
	display: block;
	color: var(--background-color1);
	padding: 20px;
    font-family: var(--font);
	text-decoration: none;
    background-color: white;
}

.navigation a:hover {
	color: var(--accent2);
	font-weight: 700;
	text-decoration: underline;
    background-color: white;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
	height: auto;
	object-fit: cover;
    margin: 4px;
    border: 5px solid var(--background-color1);	
}

.hero h1 {
    position: absolute;
    top: 10px;
    left: 8px;
    width: 100%;
    height: 5rem;
    background-color: var(--background-color2);
    text-align: center;
    font-family: var(--heading-font);
    font-weight:300;
    font-style: normal;
    color: var(--accent1);
    font-size: 4rem;
    text-shadow: 3px 3px 5px #777;
}

.hero article img {
    position: absolute;
    float: right; 
    width: 200px;
    top: 300px; 
    left: 950px;
    height: auto;
    margin: 20px 0 20px 20px;
	border: 1.5px solid var(--accent2);
	padding: 0.65rem;
	box-shadow: 0 0 30px var(--accent1);
}

.hero article p {
    position: absolute;
    top: 275px;
    left: 40px;
    width: 95%;
    height: 200px;
    background-color: var(--background-color1);
    opacity: 0.7;
    font-family: var(--font);
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--accent2);
    text-align: justify;
    text-indent: 5px;
}

.hero article h2 {
    position: absolute;
    top: 200px;
    left: 50px;
}

.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.history1 {
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: var(--accent2);
    font-family: var(--font);
    font-weight: 400;
    font-size: 1rem;
    color: var(--background-color1);
    text-align: justify;
    text-indent: 5px;
}

.historytitle {
    grid-column: 2/3;
    grid-row: 1/3;
    background-color: var(--background-color1);
    color: var(--accent2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.historytitle h2 {
    font-family: var(--heading-font);
    font-weight: 400;
    font-style: normal;
    color: var(--accent2);
    background-color: var(--background-color1);
    font-size: 3rem;
    text-shadow: 3px 3px 5px #777; 
}

.historytitle img {
    width: 400px;
    height: auto;
    margin: 20px;
    border: 3px solid #6c7d47;
    padding: 0.65rem;
	box-shadow: 0 0 30px var(--accent1);
}

.history2 {
    grid-column: 3/4;
    grid-row: 1/3;
    background-color: var(--accent2);
    font-family: var(--font);
    font-weight: 400;
    font-size: 1rem;
    color: var(--background-color1);
    text-align: justify;
    text-indent: 5px;
}

.adventures {
    margin: .25px;
    background-color: #4e5166;
    color: var(--accent2);
}

.adventurestitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tour {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

h2 {
    font-family: var(--heading-font);
    font-weight: 400;
    font-style: normal;
    color: var(--accent2);
    background-color: white;
    position: relative;
    font-size: 3rem;
    text-shadow: 3px 3px 5px #777; 
    text-indent: 5px;
}

figure img{
    width: 150px;
	height: 100px;
    margin: 4px;
    border: 5px solid var(--background-color1);
}

figcaption {
    margin: 5px;
    font-family: var(--font);
    font-weight: 400;
    font-size: 1rem;
    color: var(--background-color1);
    background-color: white;
    text-align: center;
    text-indent: 5px;
}

footer {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
footer p {
    display: flex;
    justify-content: right;
    align-items: center;
    font-family: var(--font);
    font-weight: 400;
    font-size: 1rem;
    color: var(--background-color1);
    background-color: white;
}

.sociallinks {
    margin: 50px;
    display: flex;
    justify-content: space-around;
}

form {
    width: 550px;
    margin: 0 auto;
    padding: 10px;
    border: 3px solid var(--background-color1);
    border-radius: 10px;
    background-color: rgb(225, 225, 225);
    color: var(--background-color1);
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .8rem;
    margin: 1rem;
    padding: 5px;
    border: .8px solid var(--background-color1);
}

legend {
    font-family: var(--font);
    color: var(--background-color1);
    background-color: rgb(225, 225, 225);
    font-weight: 400;
    padding: 1px;
    font-size: 1.5rem;
}

label, input, button, select, textarea {
    font-family: var(--font);
    color: var(--background-color1);
}

label {
    text-align: left;
    padding-left: 1rem;
    padding-bottom: .8rem;
}

input, select, textarea {
    padding: .4rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    padding: .5rem;
    border: 3px solid var(--background-color1);
    border-radius: .5rem;
    background-color: rgb(189, 189, 189);
    color: var(--background-color1);
    font-size: 1.1rem;
}

button:hover {
    background-color: var(--accent2);
    color: var(--background-color1);
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: .5rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
    margin: .3rem 0;
}

.column3 {
    grid-template-rows: 1fr 2fr;
    margin: .3rem 0;
}

.wireframe {
    display: flex;
    justify-content: right;
    align-content: center;
}

.contact {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr;
    margin: 3rem .2rem;
    height: 750px;
}

.contact h1 {
    font-family: var(--heading-font);
    font-weight: 400;
    font-style: normal;
    color: var(--accent2);
    background-color: white;
    font-size: 3rem;
    text-shadow: 3px 3px 5px #777; 
    text-indent: 4px;
}

.contact p {
    font-family: var(--font);
    font-weight: 300;
    font-size: 1rem;
    color: var(--background-color1);
    background-color: white;
    text-align: justify;
    text-indent: 5px;
}

.information {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.map {
    grid-column: 1/2;
    margin: 2rem;
}

.form {
    grid-column: 2/3;
    grid-row: 1/3;
}

.staff {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    border-top: 1px solid var(--background-color1);
}

.title {
    grid-column: 1/4;
    grid-row: 1/2;
}

.profiles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.profiles img {
    width: 100px;
    height: 138px;
}

.home {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr .5fr .25fr;
}

.hero {
    grid-column: 1/4;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.herolink {
    position: absolute;
    margin-top: 450px;
    width: 200px;
    height: auto;
    font-size: 2rem;
    list-style: none;
    border: 2px solid var(--background-color1);
    border-radius: 5px;
    width: 200px;
    font-family: var(--font);
    font-size: 1.3rem;
    text-align: center;
    background-color: rgb(225, 225, 225);
    color: var(--background-color1);
}

.herolink:hover {
    background-color: var(--accent2);
    color: var(--background-color1);
}

.action {
    grid-column: 1/3;
    grid-row: 2/3;
    font-family: var(--heading-font);
    font-weight: 400;
    font-style: normal;
    border: 5px solid var(--background-color1);
    background-color: var(--accent2);
    color: var(--background-color1);
    font-size: 3rem;
    text-shadow: 3px 3px 5px #777;
    margin: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
	list-style: none;
}

.actionlink {
    border: 2px solid var(--background-color1);
    border-radius: 5px;
    width: 200px;
    font-family: var(--font);
    font-size: 1.3rem;
    background-color: var(--accent1);
    color: var(--background-color1);
}

.actionlink:hover {
    background-color: var(--background-color2);
    color: var(--background-color1);
}

.form1 {
    grid-column: 3/4;
    grid-row: 2/3;
    width: 400px;
    margin: 1rem;
    padding: 5px;
    border: 3px solid var(--background-color1);
    border-radius: 10px;
    background-color: rgb(225, 225, 225);
    color: var(--background-color1);
}

.about {
    grid-row: 3/4;
    grid-column: 1/4;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
}

.tour button {
    display:flex;
    justify-items: flex-end;
    font-size: .8rem;
}

table {
    width:100%;
    border-collapse: collapse;
    border: 2px solid var(--background-color1);
    font-family: var(--font);
    font-size: 0.8rem;
    letter-spacing: 1px;
}

caption {
    caption-side: top;
    padding: 10px;
    font-weight: bold;
}

thead, tfoot {
    background-color: var(--background-color2);
    color: black;
}

th, td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

td:last-of-type {
    text-align: center;
}

tbody > tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
    color: black;
} 

tfoot td {
    font-weight: bold;
}